<!DOCTYPE html>
<html>
<head><title>Reset Password</title></head>
<body>
  <% if (token) { %>
    <form method="POST" action="/reset-password/<%= token %>">
      <input type="password" name="password" placeholder="New password" required>
      <button type="submit">Reset Password</button>
    </form>
  <% } %>
  <% if (errors && errors.length) { %>
    <div><%= errors[0].msg %></div>
  <% } %>
  <% if (success) { %>
    <div><%= success %></div>
  <% } %>
</body>
</html>